style.css */
*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;}
body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}
ul, ol {list-style: none; padding: 0; margin: 0;}
*:not(p) a {text-decoration: none; color: inherit;}
button {background: none; border: none; padding: 0; font: inherit; color: inherit; cursor: pointer;}

:root {
    --color-primary: #8BEBA5;
    --color-text: #1b1b1b;
    --color-light: #eaeaea;
    --color-subtle: #626262;
    --font-main: "Poppins", sans-serif;
    --max-width: 1000px;
    --radius: 0.5em;
}

.hero {
    width: fit-content;
    margin: auto;
  }
  
  .slideshow {
    max-width: 1200px;
    width: 100%;
    height: fit-content;
    display: grid;
  }
  
  .slideshow img {
    width: 100%;
    grid-area: 1 / 1;
    opacity: 0;
    animation: fade 9s infinite;
  }
  
  .slideshow img:nth-child(1) { animation-delay: 0s; }
  .slideshow img:nth-child(2) { animation-delay: 3s; }
  .slideshow img:nth-child(3) { animation-delay: 6s; }
  
  @keyframes fade {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    30%  { opacity: 1; }
    40%  { opacity: 0; }
    100% { opacity: 0; }
  }
  
  

/* Navigation */


header {
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid var(--color-light);
}

nav, main, .footer-content {
    width: min(var(--max-width), calc(100% - 2rem));
    margin: auto;
}


nav ul {
    padding-block: 0.25em;
    display: flex;
    align-items: center;
}


nav ul li a:not(:has(img)) {
    padding: 0.5em;
    border-radius: var(--radius);
}

nav ul #logo img {
    height: 3em;
    width: auto;
}

nav ul #logo {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

nav ul li a:not(:has(img)):hover {background-color: var(--color-primary);}
#logo button {display: none;}
nav ul #language a::before, .callout::before, .cta::after, blockquote footer::before { 
    content: ''; 
    background-size: contain;
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
}

#language a::before {background-image: url(icon/language.svg);}
.callout::before {background-image: url(icon/info.svg);}
.cta::after {background-image: url(icon/link.svg);}

#language a{
    align-items: center;
    display: flex;
    gap: 0.25em;
    background-color: var(--color-light);
    margin-left: 0.25em;
}

.line {fill: none;stroke: black;stroke-width: 6;transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);}
.line1 {stroke-dasharray: 60 207;stroke-width: 6;}
.line2 {stroke-dasharray: 60 60;stroke-width: 6;}
.line3 {stroke-dasharray: 60 207;stroke-width: 6;}
[aria-expanded="true"] .line1 {stroke-dasharray: 90 207;stroke-dashoffset: -134;stroke-width: 6;}
[aria-expanded="true"] .line2 {stroke-dasharray: 1 60;stroke-dashoffset: -30;stroke-width: 6;}
[aria-expanded="true"] .line3 {stroke-dasharray: 90 207;stroke-dashoffset: -134;stroke-width: 6;}

/* Main */

.cta {
    background-color: var(--color-primary);
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    margin-block: 1em;
    width: fit-content;
    gap: 1em;
    border-radius: var(--radius);
}

body {
    font-family: "Poppins", sans-serif;
    position: relative;
}

main img {
    border-radius: var(--radius);
    margin-bottom: 1em;
    min-height: 250px;
    width: auto;
    object-fit: cover;
}

main > p, blockquote {
    margin: 0.5em 0;
    max-width: 60ch;
    text-wrap: balance;
}


main.text {width: min(60ch, calc(100% - 2rem));}

h1, h2 {
    max-width: 30ch;
    text-wrap: balance;
}



/* Product */

#produits-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust minmax value as needed */
    gap: 1em;
    padding-block: 1em;
}

#produits-container > article {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-light);
    border-radius: var(--radius);
    padding: 1em;
    background: #f9fdf9;
    color: inherit;
    transition: border 0.2s, box-shadow 0.2s;
}

#produits-container > article:hover {
    border-color: #7ae296;
    box-shadow: 0 4px 12px rgba(139, 235, 165, 0.2);
}

#produits-container > article img {
    border-radius: var(--radius);
    margin-bottom: 1em;
    min-height: 150px; /* Adjust as needed */
    width: 100%;
    object-fit: cover;
}

#produits-container > article a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#produits-container > article h2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-text);
}

#produits-container > article span {
    color: #4b5563;
    margin-top: auto; /* Push the span to the bottom */
}

#produits-container > article span strong {
    font-size: 1.5rem;
    font-weight: 500;
}

#produits-container > article button {
    background: var(--color-primary);
    border: none;
    padding: 0.5em 1em;
    margin-top: 1em;
    border-radius: var(--radius);
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    color: var(--color-text);
}

#produits-container > article button:hover {
    background: #7ae296;
}

/* Testimonials */

.callout {
    display: flex;
    gap: 1em;
    padding: 1em;
    border: 1px solid var(--color-light);
    border-radius: var(--radius);
}
.callout::before {
    width: 3em;
    background-repeat: no-repeat;
    align-self: center;
}

section:has(blockquote) {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

section:has(blockquote) > div {
    flex: 1 1 min(300px, 100%);
}

article:has(blockquote) {
    margin-bottom: 1em;
    height: fit-content;
    background-color: var(--color-light);
    padding: 1em;
    border-radius: var(--radius);
}

blockquote footer {
    display: flex;
    gap: 0.5em;
    padding: 1em 0 0 0;
    background-color: var(--color-light);
}

blockquote footer::before {
    background-image: url(icon/person.svg);
}

  
  
 

main strong {font-style: italic; color: black;}
main > p {color: var(--color-subtle); margin-bottom: 3em;}

/* Footer */

footer {
    background-color: #ffffff;
    border-top: 1px solid var(--color-light);
    font-family: sans-serif;
    color: var(--color-subtle);
    padding: 3rem 1rem 1rem;
  }

footer img {
    height: 2.5em;
    width: auto;
}
  
.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2em 6em;
}



.footer-content > div {
    display: flex;
    flex-wrap: wrap;
    gap: 2em 6em;
}
  
footer h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #32A647;
}
  
  
footer p {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #999;
    border-top: 1px solid var(--color-light);
    padding-top: 1rem;
}
  
@media screen and (max-width: 750px) {

    nav ul {
        position: fixed;
        inset: 0;
        width: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto auto auto 1fr;
        background-color: white;
        gap: 1em;
        padding: 0;
    }

    nav ul li:first-child {align-self: last baseline;}
    nav ul li:last-child {align-self: first baseline;}

    #logo {
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        padding: 1em;
        width: calc(100% - 2em);
        border-bottom: 1px solid var(--color-light);
    }

    li:not(#logo) {
        margin-left: 0.5em;
    }

    nav:has([aria-expanded="false"]) {margin: 0; width: 100%;}

    nav ul:has([aria-expanded="false"]) li:not(#logo) {display: none;}
    nav ul:has([aria-expanded="false"]) {
        left: 0;
        right: 0;
        bottom: unset;
        display: flex;
        position: sticky;

        #logo {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            width: calc(100% - 2em);
        }
    }



    nav ul li:not(#logo) {font-size: 1.75em;}
    #logo button {display: block;}
    #language a {width: fit-content; font-size: 0.75em;}
}
